/* You can add global styles to this file, and also import other style files */

@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
}

header {
    background-color: #fafafa;
    border-bottom: 0.1rem #eee solid;
    padding: 1rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

aside {
    background-color: #fafafa;
    border-right: 0.1rem #eee solid;
    width: 17rem;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 5rem;
}

nav a {
    text-decoration: none;
    padding: 0.3rem 1rem;
    display: block;
    border-bottom: 0.1rem solid #f0f0f0;
}

main {
    margin: 5rem 1rem 1rem 18rem;
    padding: 0.5rem;
    background-color: #fff;
    border: 0.1rem solid #eee;
    height: 800px;
    border-radius: 0.2rem;
}

footer {
    background-color: #fff;
    border-top: 0.1rem #eee solid;
    padding: 10px;
    text-align: center;
    margin: 0 1rem 1rem 18rem;
}
